@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to CSGO Club</h1>
        <p>Create your own lobby to play CSGO with your friends.</p>
        <p>See your match history and download the replay.</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to CSGO Club</h1>
        <p>Please, login with your Steam account to access our servers.</p>
    </div>
}


