@model csgo_club_web_app.Models.UserModel
@{
    ViewData["Title"] = "Edit Profile";
}
<h3>
    Edit Profile
</h3>
<hr />
<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="container">
        <div class="list-group mb-4">
            <img src="@Model.ProfilePicture" class="rounded-circle mb-2" height="184" width="184" />
            <input asp-for="PictureFile" />
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Name" />
        </div>
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
</form>