@model List<CsgoClubEF.Entities.GameMatch>
@{
    ViewData["Title"] = "Lobby";
}

    <div class="text-center">
        <h1 class="display-4 mb-4">Previous Matches</h1>

        @foreach (var gm in Model)
        {
            <ul class="list-group">
                <li class="list-group-item mb-4">
                    <div class="row justify-content-between">
                        <div>
                            @gm.MatchEndDate
                        </div>
                        <div>
                            Sala de @gm.Leader.Name
                        </div>
                        <div>
                            <a class="btn btn-info" asp-action="Match" asp-controller="Lobby" asp-route-id="@gm.Id">Detalhes</a>
                        </div>

                    </div>
                </li>
            </ul>
        }
    </div>
